.container {
    height: 100vh;
    width: 100%;
}

.nav {
    padding-bottom: 80px;
}

h3 {
    line-height: 12px;
    color: #f0f8ff;
}

h4 {
    color: #f0f8ff;
    line-height: 10px;

}


.flex {
    margin: 50px 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carouselDiv {
    position: relative;

    border-radius: 8px;
}

.arrow {
    border: none;
    background-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    bottom: 0;

    position: absolute;
}

.arrow>.material-symbols-outlined:active {
    scale: .8;
}

.carouselDiv:hover>.arrow:nth-child(1) span {
    border-radius: 4px;
    padding: 10px 5px 10px 12px;
    color: #fff;
    background-color: #0000004a;
}

.carouselDiv:hover>.arrow:nth-child(2) span {
    border-radius: 4px;
    padding: 10px 9px 10px 9px;
    color: #fff;
    background-color: #0000004a;
}


.arrow:nth-child(1) {
    left: 0;
}

.arrow:nth-child(2) {
    right: 0;
}


.carouselDiv:hover>.arrow:disabled span {
    background-color: transparent;
    color: transparent;
    cursor: auto;
}

.bigImg {
    width: 1200px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.imgsContainer {
    background-color: #0a0f17;
    border-radius: 6px;
    padding: 15px 40px;

    display: flex;
    gap: 20px;
}

.imgs {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    cursor: pointer;
}

.imgs:hover {
    opacity: .8;
}


.flag {
    border-radius: 8px;
    height: 200px;
}


.title {
    color: aliceblue;
    font-size: 22px;
}

/* .tags{

} */

.id {
    padding-bottom: 20px;
}

.id h3 {
    font-size: 16px;

}

.span {
    color: #aaafb4;
}