.container {
    background-color: #0a0f17;
    height: 65px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

a {
    text-decoration: none;
}

.flex {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover img {
    filter: drop-shadow(0 0 5px rgb(46, 224, 247));

}

.img {
    height: 50px;
    margin-right: 10px;
}

.title {
    font-family: monospace;
    font-size: 18px;
    color: #f4f4f4;
    user-select: none;
}

.title:hover {
    cursor: pointer;
}