.container {
    display: flex;
    background-color: #0f1723;
    color: aliceblue;
    padding: 90px 250px 0;
    height: 40px;
    justify-content: space-around;
}

.selectContainer {
    display: flex;
    align-items: center;
}

.label {
    font-weight: bold;
    font-size: 17px;
    padding-right: 10px;
}

.select {
    font-size: 15px;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    background-color: #0a0f17;
    color: aliceblue;
    border: none;
}

.option {
    background-color: #0a0f17;
    color: aliceblue;
    border-radius: 8px;
}

.select:hover {
    outline: 1px solid #8dddfcf5;
    cursor: pointer;
}